:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --Black: hsl(0, 0%, 7%);
}

@font-face{
    font-family: 'DM Sans';
    src: url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
}

@font-face{
    font-family: 'DM Sans Italic';
    src: url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
}

*{
    font-family: 'DM Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    padding: 50px 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    height: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.5fr 0.5fr 1fr;
    grid-template-areas: 
    "scheduleQuickerBox mediaAiBox mediaAiBox createScheduleBox"
    "scheduleQuickerBox manageMultipleBox maintainScheduleBox createScheduleBox"
    "writeUsingAiBox manageMultipleBox maintainScheduleBox createScheduleBox"
    "writeUsingAiBox fasterGrowthBox growFollowersBox growFollowersBox";
    gap: 25px;
}

#scheduleQuickerBox{
    grid-area: scheduleQuickerBox;
    background-color: var(--Yellow-100);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#scheduleQuickerBox p{
    font-size: 2.7rem;
    width: 210px;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: 500;
}

#scheduleQuickerBox img{
    width: 210px;
}

#scheduleQuickerBox p span{
    font-family: 'DM Sans Italic';
    color: var(--Purple-500)
}

#mediaAiBox{
    grid-area: mediaAiBox;
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#mediaAiBox p:first-of-type{
    font-size: 4rem;
    color: white;
    line-height: 65px;
    text-align: center;
    font-weight: 500;
}

#mediaAiBox span:first-of-type{
    color: var(--Yellow-500);
}

#mediaAiBox span:nth-of-type(2){
    font-family: 'DM Sans Italic';
}

#mediaAiBox img{
    width: 200px;
    height: auto;
    margin-top: 20px
}

#mediaAiBox p:nth-of-type(2){
    color: white;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

#createScheduleBox{
    grid-area: createScheduleBox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
    background-color: var(--Purple-100);
    overflow: hidden;
}

#createScheduleBox p:first-of-type{
    font-size: 2.1rem;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

#createScheduleBox img{
    position: relative;
    left: 90px;
    height: 350px;
    width: auto;
}

#createScheduleBox p:nth-of-type(2){
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

#manageMultipleBox{
    grid-area: manageMultipleBox;
    background-color: white;
    overflow: hidden;
    padding: 20px;
}

#manageMultipleBox img{
    width: 360px;
    height: auto;
}

#manageMultipleBox p{
    margin-top: 10px;
    font-size: 2.1rem;
    line-height: 35px;
    font-weight: 500;
}

#maintainScheduleBox{
    grid-area: maintainScheduleBox;
    background-color: var(--Yellow-500);
    padding: 25px;
    overflow: hidden;
}

#maintainScheduleBox p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 20px;
}

#maintainScheduleBox img{
    width: 240px;
    height: auto;
}

#writeUsingAiBox{
    grid-area: writeUsingAiBox;
    background-color: var(--Yellow-500);
    padding: 25px;
    font-weight: 500;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#writeUsingAiBox p{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#writeUsingAiBox img{
    width: 230px;
    height: auto;
}

#fasterGrowthBox{
    grid-area: fasterGrowthBox;
    background-color: white;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#fasterGrowthBox span{
    font-size: 4rem;
}

#fasterGrowthBox p{
    align-self: flex-start;
    font-size: 1.2rem
}

#fasterGrowthBox img{
    width: 200px;
    height: auto;
}

#growFollowersBox{
    grid-area: growFollowersBox;
    background-color: var(--Purple-500);
    display: flex;
    align-items: center;
    padding: 20px;
}

#growFollowersBox img{
    height: 210px;
}

#growFollowersBox p{
    color: white;
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: 500;
    margin-left: 15px;
}

.contentBox{
    background-color: red;
    border-radius: 10px;
}

@media(min-width: 1300px){
    section{
        max-height: 900px;
    }

}

@media(min-width: 1101px) and (max-width: 1300px){

    body{
        height: auto;
    }

    section{
        max-width: 1200px;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "mediaAiBox mediaAiBox createScheduleBox"
        "manageMultipleBox maintainScheduleBox createScheduleBox"
        "fasterGrowthBox growFollowersBox growFollowersBox"
        "scheduleQuickerBox writeUsingAiBox writeUsingAiBox";
        gap: 25px;
    }
    
    #createScheduleBox img{
        left: 110px;
        height: 430px;
    }
    
    #createScheduleBox p:nth-of-type(2){
        font-size: 1.3rem;
    }
    
    #manageMultipleBox img{
        width: 420px;
    }
    
    #manageMultipleBox p{
        margin-top: 20px;
        font-size: 2.6rem;
    }

    #maintainScheduleBox{
        grid-area: maintainScheduleBox;
        background-color: var(--Yellow-500);
        padding: 25px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #maintainScheduleBox p{
        font-weight: 500;
        height: auto;
        font-size: 2.3rem;
        line-height: 35px;
        margin-bottom: -55px;
    }
    
    #maintainScheduleBox img{
        position: relative;
        top: 100px;
        width: 240px;
        height: auto;
    }

    #fasterGrowthBox{
        grid-area: fasterGrowthBox;
        background-color: white;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #fasterGrowthBox span{
        font-size: 5rem;
    }
    
    #fasterGrowthBox p{
        align-self: flex-start;
        font-size: 1.5rem
    }
    
    #fasterGrowthBox img{
        width: 250px;
        height: auto;
    }

    #writeUsingAiBox{
        grid-area: writeUsingAiBox;
        background-color: var(--Yellow-500);
        padding: 15px;
        font-weight: 500;
        line-height: 35px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    #writeUsingAiBox p{
        font-size: 2.5rem;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    #writeUsingAiBox img{
        width: 270px;
        height: auto;
    }

    .contentBox{
        width: auto;
    }
}

@media(min-width: 641px) and (max-width: 1100px){

    body{
        height: auto;
    }

    section{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "mediaAiBox mediaAiBox"
        "manageMultipleBox maintainScheduleBox"
        "createScheduleBox createScheduleBox"
        "growFollowersBox fasterGrowthBox"
        "scheduleQuickerBox writeUsingAiBox";
        gap: 25px;
    }

    #mediaAiBox,
    #createScheduleBox{
        min-width: 625px;
        max-width: 825px;
    }

    #manageMultipleBox,
    #maintainScheduleBox,
    #growFollowersBox,
    #fasterGrowthBox,
    #scheduleQuickerBox,
    #writeUsingAiBox{
        min-width: 300px;
        max-width: 400px;
    }


    #createScheduleBox{
        grid-area: createScheduleBox;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px;
        background-color: var(--Purple-100);
        overflow: hidden;
        gap: 30px;
        position: relative;
    }
    
    #createScheduleBox p:first-of-type{
        font-size: 2.5rem;
        line-height: 37px;
        font-weight: 500;
        margin-bottom: 20px;
        max-width: 250px;
        align-self: start;
        min-width: 230px;
    }
    
    #createScheduleBox img{
        position: absolute;
        height: 170px;
        left: 40px;
        top: 120px;
        width: auto;
    }
    
    #createScheduleBox p:nth-of-type(2){
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        min-width: 240px;
        max-width: 350px;
    }

    #writeUsingAiBox{
        grid-area: writeUsingAiBox;
        background-color: var(--Yellow-500);
        padding: 15px;
        font-weight: 500;
        line-height: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #writeUsingAiBox p{
        font-size: 1.6rem;
        margin-bottom: 30px;
        font-weight: 500;
    }
    
    #writeUsingAiBox img{
        width: 200px;
        height: auto;
    }

    #growFollowersBox{
        grid-area: growFollowersBox;
        background-color: var(--Purple-500);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }
    
    #growFollowersBox img{
        height: 170px;
    }
    
    #growFollowersBox p{
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-left: 0;
    }

    .contentBox{
        height: auto;
        border-radius: 10px;
        min-height: 335px;
    }

}

@media(max-width: 640px){

    body{
        padding: 10px;
        height: auto;
    }

    section{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "mediaAiBox"
        "manageMultipleBox"
        "maintainScheduleBox"
        "createScheduleBox"
        "growFollowersBox"
        "fasterGrowthBox"
        "scheduleQuickerBox"
        "writeUsingAiBox";
        gap: 25px;
    }

    #mediaAiBox,
    #manageMultipleBox,
    #maintainScheduleBox,
    #createScheduleBox,
    #growFollowersBox,
    #fasterGrowthBox,
    #scheduleQuickerBox,
    #writeUsingAiBox{
        max-width: 650px;
        min-width: 290px;
        max-height: 600px;
        min-height: 200px;
    }

    #manageMultipleBox{
        grid-area: manageMultipleBox;
        background-color: white;
        overflow: hidden;
        padding: 25px;
    }
    
    #manageMultipleBox img{
        width: 380px;
        height: auto;
    }
    
    #manageMultipleBox p{
        margin-top: 10px;
        font-size: 2rem;
        line-height: 35px;
        font-weight: 500;
        width: 100%;
    }

    #maintainScheduleBox{
        grid-area: maintainScheduleBox;
        background-color: var(--Yellow-500);
        padding: 25px;
        overflow: hidden;
    }
    
    #maintainScheduleBox p{
        font-weight: 500;
        font-size: 2rem;
        line-height: 32px;
        margin-bottom: -50px;
    }
    
    #maintainScheduleBox img{
        position: relative;
        top: 70px;
        width: 240px;
        align-self: start;
        height: auto;
    }

    #createScheduleBox{
        grid-area: createScheduleBox;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        background-color: var(--Purple-100);
        overflow: hidden;
    }
    
    #createScheduleBox p:first-of-type{
        font-size: 1.8rem;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 20px;
        align-self: center;
        width: 100%;
        text-align: center;
    }
    
    #createScheduleBox img{
        position: static;
        height: auto;
        max-width: 80%;
        width: auto;
    }
    
    #createScheduleBox p:nth-of-type(2){
        margin-top: 20px;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
    }

    #growFollowersBox{
        grid-area: growFollowersBox;
        background-color: var(--Purple-500);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    
    #growFollowersBox img{
        height: 210px;
    }
    
    #growFollowersBox p{
        color: white;
        font-size: 2rem;
        line-height: 40px;
        font-weight: 500;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 80%;
    }

    #fasterGrowthBox{
        grid-area: fasterGrowthBox;
        background-color: white;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #fasterGrowthBox span{
        font-size: 4rem;
        display: block;
    }
    
    #fasterGrowthBox p{
        align-self: flex-start;
        font-size: 1.2rem
    }
    
    #fasterGrowthBox img{
        margin-top: 20px;
        align-self: flex-start;
        width: 200px;
        height: auto;
    }

    #scheduleQuickerBox{
        grid-area: scheduleQuickerBox;
        background-color: var(--Yellow-100);
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 20px 40px;
    }
    
    #scheduleQuickerBox p{
        font-size: 2.7rem;
        width: auto;
        line-height: 42px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    #scheduleQuickerBox img{
        width: 210px;
    }
    
    #scheduleQuickerBox p span{
        font-family: 'DM Sans Italic';
        color: var(--Purple-500)
    }

    .lineBreak{
        display: none;
    }

}